fastapi==0.115.6
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1

SQLAlchemy==2.0.32
psycopg2-binary==2.9.9

transformers==4.44.2
torch==2.2.0

numpy<2

protobuf>=4.21.0
sentencepiece==0.2.1

